#global
.env

#backend
backend/node_modules
backend/.env
backend/.wwebjs_auth
backend/.wwebjs_cache
backend/dist
backend/storage

#frontend
frontend/node_modules
frontend/.env
frontend/build
frontend/dist

#api-evolution
api-evolution/node_modules
api-evolution/.env
api-evolution/instances
api-evolution/dist